[
    {kernel, [
        {logger_level, info},
        {logger, [

            % console log

            {handler, default, logger_std_h, #{
                formatter => {
                    logger_formatter, #{
                        single_line => false,
                        template => ["[", time,"] ", level, " ", pid, " ", mfa,":",line, " => ", msg,"\n"],
                        time_offset => "Z"
                    }
                },

                filters => [
                    {remote_group_leader, {fun logger_filters:remote_gl/2, stop}},
                    {progress, {fun logger_filters:progress/2, stop}},
                    {sasl, {fun logger_filters:domain/2, {stop, sub, [otp, sasl]}}}
                ]
            }}
        ]}
    ]},

    {eredis_pool, [
        {pools, [
            {pool1, [
                {shards, [
                    <<"127.0.0.1:6379">>
                ]},
                {connections_per_host, 3},
                {connection_options, [
                    {database, 0},
                    {reconnect_sleep, 1000},
                    {socket_options, [
                        {send_timeout_close, true},
                        {keepalive, true}
                    ]}
                ]}
            ]}
        ]}
    ]}
].
